body{
  text-align: center;
}

td{
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
 tr:nth-child(even){background-color: #f2f2f2;
   